# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.ark
main/debug
main/assembly
main/assembly.ark
main/paymentLog.csv
main/arkgo-gui
main/arkgo-gui.log
main/main.zip
cmd/arkgopool/debug
cmd/arkgopool/arkgo-gui
cmd/arkgopool/arkgo-gui.log
cmd/arkgopool/settings/config.toml
cmd/arkgoserver/cfg/config.toml
