# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
.DS_Store

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.ark
main/debug
main/assembly
main/assembly.ark
main/paymentLog.csv
main/arkgo-gui
main/arkgo-gui.log
main/main.zip
cmd/arkgopool/debug
cmd/arkgopool/arkgo-gui
cmd/arkgopool/arkgo-gui.log
cmd/arkgopool/settings/config.toml
cmd/arkgopool/settings/configK.toml
cmd/arkgopool/settings/configJ.toml
cmd/arkgoserver/cfg/config.toml
cmd/arkgopool/paymentLog.csv
cmd/arkgoserver/log/goark-node.log
cmd/arkgopool/settings/config.1.toml
cmd/arkgoserver/log/arkgo-server.log
cmd/arkgoserver/debug
cmd/arkgoserver/payment.db
cmd/arkgoserver/dist/*
cmd/arkgoserver/dist/**
cmd/arkgopool/arkgopool
cmd/arkgoserver/arkgoserver
cmd/arkgostats/db/delegatestats.db.lock
cmd/arkgostats/cfg/config.toml
cmd/arkgostats/debug
cmd/arkgostats/arkgostats
cmd/arkgostats/db/delegatestats.db

cmd/arkgopool/settings/configKAPU.toml
cmd/arkgotest/cfg/config.toml
cmd/arkgotest/debug
cmd/arkgotest/arkgotest.exe
cmd/arkgotest/arkgotest
